
.primary{
font-family: "Roboto Light", Serif;
    font-size: 5rem;
    color: cornsilk;
}

.squareMarksList {
    list-style: square;
    background-color: beige;
}

.evenUl {
    background-color: cornflowerblue;
}

.oddUl {
    background-color: aquamarine;
}

